<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiCommand.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SiCommand.My.MySettings>
            <setting name="Sector" serializeAs="String">
                <value />
            </setting>
            <setting name="Hangar" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayerE" serializeAs="String">
                <value />
            </setting>
            <setting name="GridE" serializeAs="String">
                <value />
            </setting>
            <setting name="LogType" serializeAs="String">
                <value />
            </setting>
            <setting name="ListGrid" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreNumone" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreNumtwo" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreQ" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreForce" serializeAs="String">
                <value />
            </setting>
            <setting name="Month" serializeAs="String">
                <value />
            </setting>
            <setting name="Day" serializeAs="String">
                <value />
            </setting>
            <setting name="HangarRemove" serializeAs="String">
                <value />
            </setting>
            <setting name="logserver" serializeAs="String">
                <value />
            </setting>
        </SiCommand.My.MySettings>
    </userSettings>
</configuration>